.navbar-nav a {
  font-size: 16px;
  text-transform: uppercase;
  color: #4e5054;
  margin-right: 14px;
}

.navbar-nav a.active,
.navbar-nav a:hover {
  font-weight: bold;
  text-decoration: none;
  color: #152b62;
}

i.material-icons-outlined {
  margin-left: 8px;
  font-size: 20px;
  color: #152b62;
  cursor: pointer;
}
